<div ng-cloak style="align-content: center">
    
        <div class="row">
            <div class="col s12 m6">
    
                <div class="card-action white">
                    <button class="btn waves-effect cyan " type="submit" name="action" ng-click="allGroupsCtrl.logOut()">Log Out
                        <i class="material-icons right">send</i>
                    </button>
                    <a href="#!/chatGroups" class="btn cyan btn-link">My Groups</a>
                </div>
    
            </div>
    
        </div>
        <!--<div  id="chat-list" style="height:300px;overflow:auto">-->
        <div>
            <!-- Here come the messages in the chat, each one presented in card -->
            <div ng-repeat="g in allGroupsCtrl.groupList">
                <!-- This card prodives space for the message and Like/dislike buttons -->
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <!-- Card Title is the person who write the message -->
                                <span class="card-title">{{g.chat_name}}</span>
                                <!-- Here comes the message text -->
    
                            </div>
                            <div class="card-action white">
                                <button class="btn waves-effect cyan " type="submit" name="action" ng-click="allGroupsCtrl.enterGroup(g.chat_group_id)">Enter Group
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>