<div ng-cloak style="align-content: center">
    <div class="row">
        <div class="col s12 m6">
            <div class="card-action white">
                <button class="btn waves-effect cyan " type="submit" name="action" ng-click="chatCtrl.logOut()">Log Out
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card-action white">
                <button class="btn waves-effect cyan " type="submit" name="action" ng-click="chatCtrl.goToGroups()">GO back To My Groups
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card-action white">
                <button class="btn waves-effect cyan " type="submit" name="action" ng-click="chatCtrl.reloadPage()">Reload Page
                    <i class="material-icons right">cached</i>
                </button>
            </div>
        </div>
    </div>
    <!-- 
    Added by Jesi
    Trying to add a button to search members of a specific group
     -->
    <div class="row">
        <div class="col s12 m6">
            <ul class="collection">
                <li ng-repeat="user in chatCtrl.membersList" class="collection-item">{{user.first_name}} {{user.last_name}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card cyan">
                <div class="card-content ">
                    <i class="material-icons prefix" style="color: white">mode_edit</i>
                    <span text-white style="font-size:larger; color:white">Search Hashtag:</span>
                    <textarea style="background: white" id="search" class="materialize-textarea" ng-model="chatCtrl.search"></textarea>
                </div>
                <div class="card-action white">
                    <button class="btn waves-effect cyan " type="submit" name="action" ng-click="chatCtrl.searchHashtags()">Search
                        <i class="material-icons right">search</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card cyan">
                <div class="card-content ">
                    <i class="material-icons prefix" style="color: white">mode_edit</i>
                    <span text-white style="font-size:larger; color:white">Message:</span>
                    <textarea style="background: white" id="textfield" class="materialize-textarea" ng-model="chatCtrl.newText"></textarea>
                </div>
                <div class="card-action white">
                    <button class="btn waves-effect cyan " type="submit" name="action" ng-click="chatCtrl.postMsg()">Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--<div  id="chat-list" style="height:300px;overflow:auto">-->
    <div>
        <!-- Here come the messages in the chat, each one presented in card -->
        <div ng-repeat="m in chatCtrl.messageList">
            <!-- This card prodives space for the message and Like/dislike buttons -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src={{m.media}}>
                        </div>
                        <div class="card-content">
                            <!-- Card Title is the person who write the message -->
                            <span class="card-title">{{m.first_name}} {{m.last_name}}</span>
                            <!-- Here comes the message text -->
                            <p>
                                {{m.message}}
                            </p>
                        </div>
                        <div class="card-action">
                            <button class="btn-floating btn-small waves-effect waves-light green" ng-click="chatCtrl.like(m.mID)">
                                <i class="material-icons">thumb_up
                                </i>
                            </button>
                            <span ng-bind="m.likes"> </span>


                            <button class="btn-floating btn-small waves-effect waves-light red" ng-click="chatCtrl.dislike(m.mID)">
                                <i class="material-icons">thumb_down
                                </i>
                            </button>
                            <span ng-bind="m.dislikes"> </span>

                            <button class="btn waves-effect cyan " type="submit" name="action" ng-click="chatCtrl.viewReacts(m.post_id)">View Reacts

                            </button>
                            <button class="btn waves-effect cyan " type="submit" name="action" ng-click="chatCtrl.replyToMessage(m.post_id)">Reply To Message

                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>